## 感知机 仅在错误时更新模型

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('adult.data.csv',header=None, encoding = 'utf-8')
df.columns = ['a', 'b', 'c', 'd', 'e','f','g','h','i','j','k','l','m','n','label']
df.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df = df.replace(' ?', np.nan)
df = df.dropna()
df

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32528,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32529,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [259]:
df.label.value_counts()

 <=50K    22654
 >50K      7508
Name: label, dtype: int64

In [260]:
df.a.value_counts()

36    852
31    851
33    837
34    836
35    828
37    828
23    824
30    813
28    808
25    799
38    791
32    789
27    789
39    786
29    774
41    769
40    765
24    752
26    745
43    743
42    741
46    711
45    706
44    704
47    683
22    674
20    629
21    621
19    594
50    575
     ...
17    328
60    276
61    259
62    213
63    186
64    173
65    136
67    111
66    110
68     90
69     80
70     64
71     54
73     49
72     40
74     38
90     35
75     34
76     29
77     20
80     16
79     15
78     14
81     13
84      8
82      7
83      5
88      3
85      3
86      1
Name: a, Length: 72, dtype: int64

In [261]:
df.b.value_counts()

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: b, dtype: int64

In [262]:
df.c.value_counts()

203488    13
113364    12
164190    12
123011    12
148995    12
121124    12
241998    11
102308    11
126675    11
111483    11
155659    11
188246    11
126569    11
194630    10
174789    10
120277    10
112497    10
177675    10
193882    10
120131    10
125461    10
186934    10
155489    10
125892    10
190290    10
202872     9
123983     9
125933     9
117963     9
200471     9
          ..
83601      1
24872      1
372692     1
165513     1
259719     1
523910     1
120451     1
405083     1
263729     1
177791     1
204410     1
111545     1
194167     1
311913     1
220786     1
177775     1
110188     1
462440     1
63079      1
349795     1
216672     1
210527     1
343646     1
67794      1
110172     1
34393      1
288341     1
239415     1
118352     1
229376     1
Name: c, Length: 20263, dtype: int64

In [263]:
df.d.value_counts()

 HS-grad         9840
 Some-college    6678
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: d, dtype: int64

In [264]:
df.e.value_counts()

9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: e, dtype: int64

In [265]:
df.f.value_counts()

 Married-civ-spouse       14065
 Never-married             9726
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: f, dtype: int64

In [266]:
df.g.value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: g, dtype: int64

In [267]:
df.h.value_counts()

 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      889
Name: h, dtype: int64

In [268]:
df.i.value_counts()

 White                 25933
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: i, dtype: int64

In [269]:
df.j.value_counts()

 Male      20380
 Female     9782
Name: j, dtype: int64

In [270]:
df.k.value_counts()

0        27624
15024      337
7688       270
7298       240
99999      148
3103        94
5178        91
5013        69
4386        67
3325        53
8614        52
2174        46
10520       43
4650        40
4064        40
14084       39
3137        36
20051       33
27828       32
3908        31
2829        30
594         28
6849        26
14344       26
13550       25
4787        22
2885        22
3411        21
1055        21
2597        20
         ...
4687         3
3418         3
2228         3
6360         3
5721         3
2936         3
6723         2
2961         2
3456         2
2062         2
41310        2
3432         2
25124        2
2009         2
7896         2
18481        2
11678        2
2387         1
5060         1
7978         1
2538         1
2993         1
1173         1
1086         1
6097         1
401          1
22040        1
4931         1
1455         1
1639         1
Name: k, Length: 118, dtype: int64

In [271]:
df.l.value_counts()

0       28735
1902      194
1977      162
1887      155
1848       50
1485       45
2415       45
1740       41
1876       39
1590       37
1672       34
1602       34
2258       25
1564       24
1741       23
1980       23
1669       23
2001       21
2051       21
1579       20
1719       20
2002       20
1408       19
1974       18
2377       17
1504       16
1721       16
2339       14
2179       14
1762       13
        ...
1668        3
1735        2
1755        2
2352        2
2149        2
1138        2
810         2
3683        2
1648        2
2238        2
1816        2
2754        2
3900        2
974         2
2129        2
3770        2
3004        1
2080        1
4356        1
1944        1
2282        1
155         1
2201        1
2457        1
1844        1
419         1
1411        1
1539        1
2472        1
2467        1
Name: l, Length: 90, dtype: int64

In [272]:
df.m.value_counts()

40    14251
50     2718
45     1753
60     1405
35     1184
20     1054
30      989
55      672
25      574
48      494
38      456
15      346
70      276
65      241
32      238
10      222
24      217
42      213
44      209
36      202
16      180
43      146
37      145
12      137
52      135
80      120
8       102
56       90
46       80
99       78
      ...
64       14
51       13
85       13
68       12
98       11
63        9
11        9
78        8
1         7
77        6
31        5
96        5
29        5
59        4
67        4
91        3
76        3
81        3
73        2
89        2
95        2
97        2
88        2
86        2
61        2
94        1
87        1
74        1
82        1
92        1
Name: m, Length: 94, dtype: int64

In [273]:
df.n.value_counts()

 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 Italy                            68
 China                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Poland                           56
 Columbia                         56
 Iran                             42
 Taiwan                           42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 France                           27
 Ecuador                          27
 Ireland                          24
 Hong                             19
 Trinadad&Tobago                  18
 Cambodia                         18
 Laos                             17
 Thailand                         17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: n, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

class_label = LabelEncoder()
col = ['b', 'd', 'f', 'g', 'h', 'i', 'j', 'n']
for i in col:
    df[i] = class_label.fit_transform(df[i].values)

In [6]:
df.label[df['label'] == ' <=50K'] = -1
df.label[df['label'] == ' >50K'] = 1
df.head()

/Users/gaoyuan/anaconda3/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/gaoyuan/anaconda3/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    a  b       c   d   e  f  g  h  i  j     k  l   m   n label
0  39  5   77516   9  13  4  0  1  4  1  2174  0  40  38    -1
1  50  4   83311   9  13  2  3  0  4  1     0  0  13  38    -1
2  38  2  215646  11   9  0  5  1  4  1     0  0  40  38    -1
3  53  2  234721   1   7  2  5  0  2  1     0  0  40  38    -1
4  28  2  338409   9  13  2  9  5  2  0     0  0  40   4    -1

In [276]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
a        30162 non-null int64
b        30162 non-null int64
c        30162 non-null int64
d        30162 non-null int64
e        30162 non-null int64
f        30162 non-null int64
g        30162 non-null int64
h        30162 non-null int64
i        30162 non-null int64
j        30162 non-null int64
k        30162 non-null int64
l        30162 non-null int64
m        30162 non-null int64
n        30162 non-null int64
label    30162 non-null object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB

In [21]:
import numpy as np
col = ['a', 'b', 'd', 'e','f','g','h','i','j','m','n','label']
pd = df.loc[:, col]
dataset = np.array(pd,dtype = np.float32)
print(dataset[0])
x_train, y_train = dataset[:25000, :-1], dataset[:25000,-1]
x_test, y_test = dataset[25000:, :-1], dataset[25000:,-1]
print(x_train[0])
print(y_train[0])

[ 39.   5.   9.  13.   4.   0.   1.   4.   1.  40.  38.  -1.]
[ 39.   5.   9.  13.   4.   0.   1.   4.   1.  40.  38.]
-1.0

In [304]:
class Model:
    def __init__(self):
        self.w = np.ones(len(dataset[0] )- 1, dtype=np.float32)
        self.b = 0
        self.l_rate = 0.5
    
    def sign(self, x, w, b):
        y = np.dot(x, w) + b
        return y
    
    # 随机梯度下降
    def fit(self, xtrain, ytrain, max_iter = 100):
        while max_iter>=0:
            flag = 0
            for i in range(len(xtrain)):
                x = xtrain[i]
                y = ytrain[i]
                if y * self.sign(x, self.w, self.b) <= 0:
                    self.w = self.w + self.l_rate * np.dot(y, x)
                    self.b = self.b + self.l_rate * y
                    flag = 1
            if flag == 0:
                break
            max_iter -= 1
        return "Perceptron Finished!"
    
    def score(self, x_test, y_test):
        right_count = 0
        for i in range(len(x_test)):
            x = x_test[i]
            y = y_test[i]
            if y * self.sign(x, self.w, self.b) > 0:
                right_count+=1
        return right_count / len(x_test)

In [313]:
perceptron = Model()
perceptron.fit(x_train, y_train, max_iter= 100)

'Perceptron Finished!'

In [314]:
# 测试集上的准确率
perceptron.score(x_test, y_test)

0.7725687717938784

In [315]:
# 训练集上的准确率
perceptron.score(x_train, y_train)

0.77572

### 用sklearn

In [311]:
from sklearn.linear_model import Perceptron

clf = Perceptron(fit_intercept=False, max_iter=100, shuffle=False)
clf.fit(x_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=False,
      max_iter=100, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=False, tol=None, verbose=0, warm_start=False)

In [312]:
# 测试集上的准确率
clf.score(x_test, y_test)

0.76191398682681133

In [316]:
# 训练集上的准确率
clf.score(x_train, y_train)

0.76195999999999997

### 归一化处理

In [7]:
from sklearn import preprocessing
import numpy as np
col = ['a', 'b', 'c','d', 'e','f','g','h','i','j','k','l','m','n','label']
pd2 = df.loc[:, col]
dataset2 = np.array(pd2,dtype = np.float32)
x_train, y_train = dataset2[:25000, :-1], dataset2[:25000,-1]
x_test, y_test = dataset2[25000:, :-1], dataset2[25000:,-1]

In [8]:
scaler = preprocessing.StandardScaler().fit(x_train)
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [9]:
x_train = scaler.transform(x_train)

In [10]:
scaler = preprocessing.StandardScaler().fit(x_test)

In [11]:
x_test = scaler.transform(x_test)

In [15]:
from sklearn.linear_model import Perceptron

clf = Perceptron(fit_intercept=False, max_iter=100, shuffle=False)
clf.fit(x_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=False,
      max_iter=100, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=False, tol=None, verbose=0, warm_start=False)

In [16]:
clf.score(x_test, y_test)

0.76385122045718712

In [17]:
clf.score(x_train, y_train)

0.76444000000000001

### 交叉验证

In [25]:
from sklearn.linear_model import Perceptron
from sklearn.model_selection import cross_val_score, ShuffleSplit

In [61]:
import numpy as np
col1 = ['a', 'b','c','d', 'e','f','g','h','i','j','k','l','m','n','label']
pd = df.loc[:, col1]
dataset3 = np.array(pd,dtype = np.float32)

In [62]:
clf = Perceptron(fit_intercept=False, max_iter=100, shuffle=False)
x_train_cv, y_train_cv=dataset3[:, :-1], dataset3[:,-1] 
cv = ShuffleSplit(n_splits=10, test_size = 0.18, random_state=0)
accs = cross_val_score(clf, x_train_cv, y_train_cv, scoring = None, cv = cv)
print(accs)

[ 0.24972376  0.77274401  0.76629834  0.24585635  0.24069982  0.7747698
  0.7732965   0.7732965   0.78600368  0.75819521]

In [63]:
col2 =  ['a', 'b','d', 'e','f','g','h','i','j','k','l','m','n','label']
pd = df.loc[:, col2]
dataset4 = np.array(pd,dtype = np.float32)
clf = Perceptron(fit_intercept=False, max_iter=100, shuffle=False)
x_train_cv, y_train_cv=dataset4[:, :-1], dataset4[:,-1] 
cv = ShuffleSplit(n_splits=10, test_size = 0.18, random_state=0)
accs = cross_val_score(clf, x_train_cv, y_train_cv, scoring = None, cv = cv)
print(accs)

[ 0.76537753  0.78453039  0.77090239  0.52928177  0.66519337  0.78029466
  0.77384899  0.77697974  0.77163904  0.78084715]

In [67]:
col3 =  ['a', 'b','d', 'e','f','g','h','i','j','k','l','n','label']
pd = df.loc[:, col3]
dataset5 = np.array(pd,dtype = np.float32)
clf = Perceptron(fit_intercept=False, max_iter=100, shuffle=False)
x_train_cv, y_train_cv=dataset5[:, :-1], dataset5[:,-1] 
cv = ShuffleSplit(n_splits=10, test_size = 0.18, random_state=0)
accs = cross_val_score(clf, x_train_cv, y_train_cv, scoring = None, cv = cv)
print(accs)

[ 0.76703499  0.7747698   0.77292818  0.63167587  0.78047882  0.78766114
  0.77403315  0.77790055  0.77219153  0.7694291 ]